@use '../../../../node_modules/@angular/material/index' as mat;
@import '../../../styles';

.top-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: mat.get-color-from-palette($angular-primary, default)
}

.tdt-image {
  width: 120px;
  padding: 3px;
}

.dashboard-name {
  margin: 0;
  width: 100%;
  padding: 0 5px;
}
